@import url("https://fonts.googleapis.com/css?family=Ysabeau+Office");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
:root {
  --primary: #ffff;
  --secondary: #303030;
  --other: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary);
}

.nav {
  width: 100%;
  height: auto;
  background-color: var(--primary);
  padding: 20px;
}
.nav .name {
  font-size: 30px;
  transition: 0.3s;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  color: var(--secondary);
  margin: 0px 50px auto;
  font-family: "Archivo Black";
  cursor: pointer;
  color: #3665d5;
  font-weight: 800;
}
.nav ul {
  list-style-type: none;
  font-family: "Ysabeau Office";
  display: flex;
  margin: auto;
  font-weight: 600;
  transform: translate(0%, -120%);
  justify-content: center;
}
.nav ul li {
  transition: 0.3s;
  margin: 5px 85px 0px 85px;
}
.nav ul li a {
  text-decoration: none;
  transition: 0.1s;
  font-size: 16px;
  color: var(--secondary);
}
.nav ul li a:hover {
  color: #3665d5;
  transition: 0.3s;
}
.nav .cv {
  width: 200px;
  transition: 0.3s;
  border-radius: 10px;
  background-color: #3665d5;
  cursor: pointer;
  float: right;
  font-family: "Ysabeau Office";
  right: 5%;
  transform: translate(0%, -120%);
  position: relative;
  padding: 15px 40px 15px 40px;
}
.nav .cv a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
}
.nav .cv:hover {
  border-radius: 10px 20px 10px 20px;
  transition: 0.3s;
}

.welcome {
  margin: 100px auto 0px 0px;
  justify-content: center;
  display: flex;
  width: 100%;
  font-family: "Ysabeau Office";
}
.welcome .text-box {
  width: 500px;
  height: 350px;
  transition: 0.3s;
  margin: 0px 120px auto;
  background-color: #fff;
}
.welcome .text-box .text {
  display: block;
  font-size: 40px;
  transition: 0.3s;
  margin: 5px 90px auto;
  font-weight: 800;
}
.welcome .text-box .text::after {
  opacity: 0;
  content: " |";
  animation-name: text;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
.welcome .text-box .about-box {
  transition: 0.3s;
  margin: 50px auto;
  font-size: 20px;
}
.welcome .tech-stack {
  width: 400px;
  height: 450px;
  transition: 0.6s;
  background-color: #fff;
  font-family: "Ysabeau Office";
  margin: -75px 120px auto;
  transform: rotateZ(-90deg);
}
.welcome .tech-stack .line {
  width: 5px;
  position: absolute;
  height: 450px;
  margin: -17px auto;
  background-color: #202020;
  transition: 0.3s;
}
.welcome .tech-stack ul {
  list-style-type: none;
}
.welcome .tech-stack ul li {
  margin: 0px 50px 40px 0px;
  background-color: #fff;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #html {
  background-color: #d79b39;
  box-shadow: 0px 0px 30px 1px #d79b39;
  height: 25px;
  width: 100%;
  animation-name: html;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #html p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #html h1 {
  font-size: 20px;
  color: white;
  margin: -3px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #css {
  background-color: #1387f3;
  height: 25px;
  width: 70%;
  box-shadow: 0px 0px 30px 1px #1387f3;
  animation-name: css;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #css p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #css h1 {
  font-size: 20px;
  color: white;
  margin: -3px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #sass {
  background-color: #f313ec;
  height: 25px;
  width: 70%;
  animation-name: css;
  box-shadow: 0px 0px 30px 1px #f313ec;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #sass p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #sass h1 {
  font-size: 20px;
  color: white;
  margin: -3px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #mysql {
  background-color: #f39d13;
  height: 25px;
  width: 50%;
  box-shadow: 0px 0px 30px 1px #f39d13;
  animation-name: mysql;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #mysql p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #mysql h1 {
  font-size: 15px;
  color: white;
  margin: 0px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #java {
  background-color: #f39d13;
  height: 25px;
  width: 60%;
  box-shadow: 0px 0px 30px 1px #f39d13;
  animation-duration: 0.6s;
  animation-name: java;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #java p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #java h1 {
  font-size: 20px;
  color: white;
  margin: -3px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #kotlin {
  background-color: #5a3af9;
  height: 25px;
  width: 37%;
  box-shadow: 0px 0px 30px 1px #5a3af9;
  animation-name: js;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #kotlin p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #kotlin h1 {
  font-size: 15px;
  color: white;
  margin: 0px 20px;
  font-weight: 500;
  position: relative;
}
.welcome .tech-stack ul li #js {
  background-color: #f9b03a;
  height: 25px;
  width: 37%;
  box-shadow: 0px 0px 30px 1px #f9b03a;
  animation-name: js;
  animation-duration: 0.6s;
  display: flex;
  border-radius: 0px 50px 50px 0px;
}
.welcome .tech-stack ul li #js p {
  color: white;
  margin: 1px -10px;
  position: relative;
  font-family: "Ysabeau Office";
}
.welcome .tech-stack ul li #js h1 {
  font-size: 15px;
  color: white;
  margin: 0px 20px;
  font-weight: 500;
  position: relative;
}

.footer {
  width: 100%;
  bottom: 0;
  display: block;
  font-family: "Ysabeau Office";
  position: absolute;
  height: 100px;
}
.footer ul {
  width: 1000px;
  padding: 37px;
  float: right;
  list-style-type: none;
  justify-content: space-evenly;
  display: inline-flex;
  transition: 0.3s;
  margin: auto;
}
.footer ul li a {
  transition: 0.3s;
  color: #303030;
  text-decoration: none;
}
.footer ul li a:hover {
  transition: 0.3s;
  letter-spacing: 1px;
}
.footer ul li #github:hover {
  color: #303030;
}
.footer ul li #discord:hover {
  color: #3a5fcc;
}
.footer ul li #ig:hover {
  color: #ca3acc;
}
.footer ul li #tw:hover {
  color: #729af8;
}
.footer p {
  color: #303030;
  float: left;
  padding: 37px;
  left: 10%;
  position: relative;
  display: inline-flex;
}
.footer p a {
  text-decoration: none;
  color: #5a3af9;
  margin: 0px 5px auto;
}

@media (max-width: 1300px) {
  .nav ul li {
    margin: 5px 25px 0px 25px;
    transition: 0.3s;
  }
  .welcome .tech-stack ul li span p {
    display: none;
  }
  .welcome .tech-stack ul li #kotlin {
    display: none;
  }
  .welcome .tech-stack ul li #mysql {
    display: none;
  }
  .welcome .tech-stack ul li #js {
    display: none;
  }
  .welcome .tech-stack .line {
    height: 260px;
    transition: 0.3s;
  }
  .nav .cv {
    width: 190px;
  }
  .nav .cv a {
    font-size: 14px;
  }
  .nav .name {
    transition: 0.3s;
    font-size: 25px;
  }
  .welcome .text-box .text {
    transition: 0.3s;
    font-size: 25px;
    margin: 0px auto;
  }
  .welcome .text-box .about-box {
    transition: 0.3s;
    font-size: 18px;
  }
  .footer ul {
    transition: 0.3s;
    width: 800px;
  }
  .welcome {
    margin: 25px auto;
  }
}
@media (max-width: 1100px) {
  .footer ul {
    transition: 0.3s;
    width: 600px;
  }
  .welcome .tech-stack {
    transform: rotateZ(0deg);
    transition: 0.6s;
    margin-top: 100px;
    height: -moz-min-content;
    height: min-content;
    width: 400px;
  }
  .nav .name {
    margin: 0px 10px auto;
  }
}
@media (max-width: 900px) {
  .footer ul {
    transition: 0.3s;
    width: 400px;
  }
}
@keyframes java {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0px;
  }
  100% {
    width: 37%;
  }
}
@keyframes mysql {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}/*# sourceMappingURL=styles.css.map */