@import url('https://fonts.googleapis.com/css?family=Ysabeau+Office');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

:root {
    --primary: #ffff;
    --secondary: #303030;
    --other: #202020;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: var(--primary);
}

.nav {
    width: 100%;
    height: auto;
    background-color: var(--primary);
    padding: 20px;
    .name {
        font-size: 30px;
        transition: .3s;
        width: min-content;
        height: min-content;
        color: var(--secondary);
        margin: 0px 50px auto;
        font-family: "Archivo Black";
        cursor: pointer;
        color: #3665d5;
        font-weight: 800;
    }
    ul {
        list-style-type: none;
        font-family: "Ysabeau Office";
        display: flex;
        margin: auto;
        font-weight: 600;
        transform: translate(0%, -120%);
        justify-content: center;
        li {
            transition: .3s;
            margin: 5px 85px 0px 85px;
            a {
                text-decoration: none;
                transition: .1s;
                font-size: 16px;
                color: var(--secondary);
            }
            a:hover {
                color: #3665d5;
                transition: .3s;
            }
        }
    }
    .cv {
        width: 200px;
        transition: .3s;
        border-radius: 10px;
        background-color: #3665d5;
        cursor: pointer;
        float: right;
        font-family: "Ysabeau Office";
        right: 5%;
        transform: translate(0%, -120%);
        position: relative;
        padding: 15px 40px 15px 40px;
        a {
            text-decoration: none;
            text-align: center;
            color: white;
            padding: 10px;
        }
    }
    .cv:hover {
        border-radius: 10px 20px 10px 20px;
        transition: .3s;

    }
}


.welcome {

    margin: 100px auto 0px 0px;
    justify-content: center;
    display: flex;
    width: 100%;
    font-family: "Ysabeau Office";

    .text-box {
        width: 500px;
        height: 350px;
        transition: .3s;
        margin: 0px 120px auto;
        background-color: #fff;
        .text {
            display: block;
            font-size: 40px;
        transition: .3s;
        margin: 5px 90px auto;
        font-weight: 800;
        }
        .text::after {
            opacity: 0;
            content: ' |';
            animation-name: text;
            animation-duration: .6s;
            animation-iteration-count: infinite;
        }
        .about-box {
        transition: .3s;
        margin: 50px auto;
            font-size: 20px;
        }
    }
    
    .tech-stack {
        width: 400px;
        height: 450px;
        transition: .6s;  
        background-color: #fff;
        font-family: "Ysabeau Office";
        margin: -75px 120px auto;
        transform: rotateZ(-90deg);
        .line {
            width: 5px;
            position: absolute;
            height: 450px;
            margin: -17px auto;
            background-color: #202020;
            border-radius: 50px;
            transition: .3s;
        }
        ul {
            list-style-type: none;
            li {
                margin: 0px 50px 40px 0px;
                background-color: #fff;
                border-radius: 0px 50px 50px 0px;
                #html {
                    background-color: #d79b39;
                    box-shadow: 0px 0px 30px 1px #d79b39;
                    height: 25px;
                    width: 100%;
                    animation-name: html;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                        font-family: "Ysabeau Office";
                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #css {
                    background-color: #1387f3;
                    height: 25px;
                    width: 70%;
                    box-shadow: 0px 0px 30px 1px #1387f3;
                    animation-name: css;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #sass {
                    background-color: #f313ec;
                    height: 25px;
                    width: 70%;
                    animation-name: css;
                    box-shadow: 0px 0px 30px 1px #f313ec;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #mysql {
                    background-color: #f39d13;
                    height: 25px;
                    width: 50%;
                    box-shadow: 0px 0px 30px 1px #f39d13;
                    animation-name: mysql;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 15px;
                        color: white;
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #java {
                    background-color: #f39d13;
                    height: 25px;
                    width: 60%;
                    box-shadow: 0px 0px 30px 1px #f39d13;
                    animation-duration: .6s;
                    animation-name: java;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #kotlin {
                    background-color: #5a3af9;
                    height: 25px;
                    width: 37%;

                    box-shadow: 0px 0px 30px 1px #5a3af9;
                    animation-name: js;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 15px;
                        color: white;
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #js {
                    background-color: #f9b03a;
                    height: 25px;
                    width: 37%;
                    box-shadow: 0px 0px 30px 1px #f9b03a;
                    animation-name: js;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                        font-family: "Ysabeau Office";

                    }
                    h1 {
                        font-size: 15px;
                        color: white;
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    bottom: 0;
    transition: .3s;
    display: block;
    font-family: "Ysabeau Office";
    position: absolute;
    height: 100px;
    ul {
        width: 1000px;
        padding: 37px;
        float: right;
        list-style-type: none;
        justify-content: space-evenly;
        display: inline-flex;
        transition: .3s;
        margin: auto;
        li {
            a {
                transition: .3s;
                color: #303030;
                text-decoration: none;
            }
            a:hover {
                transition: .3s;
                letter-spacing: 1px;
            }
            #github:hover {
                color: #303030;
            }
            #discord:hover {
                color: #3a5fcc;
            }
            #ig:hover {
                color: #ca3acc;
            }
            #tw:hover {
                color: #729af8;
            }
        }
    }
    p {
        color: #303030;
        float: left;
        padding: 37px;
        left: 10%;
        position: relative;
        display: inline-flex;
        a {
            text-decoration: none;
            color: #5a3af9;
            margin: 0px 5px auto;
        }
    }
}


@media (max-width: 1300px) {
    .nav ul li {
        margin: 5px 25px 0px 25px;
        transition: .3s;
    }
    .welcome .tech-stack ul li span p {
        display: none;
    }
    .welcome .tech-stack ul li #kotlin {
        display: none;
    }
    .welcome .tech-stack ul li #mysql {
        display: none;
    }
    .welcome .tech-stack ul li #js {
        display: none;
    }
    .welcome .tech-stack .line {
        height: 260px;
        transition: .3s;
    }
    .nav .cv {
        width: 190px;
    }
    .nav .cv a {
        font-size: 14px;
    }
    .nav .name {
        transition: .3s;
        font-size: 25px;
    }
    .welcome .text-box .text{
        transition: .3s;
        font-size: 25px;
        margin: 0px auto;
    }
    .welcome .text-box .about-box {
        transition: .3s;
        font-size: 18px;
    }
    .footer ul{
        transition: .3s;
        width: 800px;
    }
    .welcome {
        margin: 25px auto;
    }

}

@media (max-width: 1100px) {
    .footer ul{
        transition: .3s;
        width: 600px;
    }
    .welcome .tech-stack {
        transform: rotateZ(0deg); 
        transition: .6s;  
        margin-top: 100px;
        height: min-content;
        width: 400px;
    }
    .nav .name {
        margin: 0px 10px auto;
    }

}


@media (max-width: 900px) {
    .footer ul{
        transition: .3s;
        width: 400px;
    }
}

@keyframes java {
    0% {width: 0px;}
    100% {width: 60%;}
}

@keyframes html {
    0% {width: 0px;}
    100% {width: 100%;}
}

@keyframes css {
    0% {width: 0px;}
    100% {width: 70%;}
}

@keyframes js {
    0% {width: 0px;}
    100% {width: 37%;}
}

@keyframes mysql {
    0% {width: 0px;}
    100% {width: 50%;}
}

@keyframes text {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}

@media (max-height: 660px) {
    .footer {
        opacity: 0;
        transition: .3s;
    }
}

@media (max-width:540px) {
    .footer {
        p {
            display: none;
        }
        ul {
            width: 100%;
            margin: 20px auto;

        }
    }
    .welcome {
        .text-box {
            h1 {
                width: 100%;
                text-align: center;
                font-size: 22px;
                margin: auto -50px;
            }
            .text {
                width: 500px;
                position: relative;
                justify-content: center;
                display: inline-flex;
            }
            .about-box {
                p {
                    width: 200px;
                    margin: auto;
                    position: relative;
                    justify-content: center;
                    display: flex;
                }
                
            }
        }
        .tech-stack {
            opacity: 0;
            transition: .3s;
            display: none            
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Ysabeau+Office');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

:root {
    --primary: #ffff;
    --secondary: #303030;
    --other: #202020;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: var(--primary);
}

.lead-text {
    font-family: "Ysabeau Office";
    text-align: center;
    margin: 360px 0px 0px 0px;
    h1 {
        font-size: 70px;
    }
    p {
        font-size: 23px;
        width: 1000px;
        margin: auto;
    }
}

.about-me {
    width: 100%;
    height: auto;
    transition: .3s;
    margin: 100px 50px auto;
    padding: 100px;
    .tech-stack-text {
        color: #3665d5;
        visibility: hidden;
    }
    picture {
        float: right;
        margin: -250px 300px auto;
    }
    #tech_stack_desc {
        margin: -80px auto;   
        visibility: hidden;    
    }
    h1 {
        width: 400px;
        height: auto;
        font-family: "Archivo Black";
        color: #3665d5;
        font-size: 40px;
    }
    p {
        width: 700px;
        font-size: 20px;
        font-family: "Ysabeau Office";
        height: auto;
        margin: 0px 0px 25px 0px;
    }
    .tech-stack {
        width: 400px;
        height: 450px;
        transition: .6s;  
        font-family: "Ysabeau Office";
        margin: -320px 850px auto;
        transform: rotateZ(0deg);
        .line {
            width: 5px;
            position: absolute;
            height: 450px;
            margin: 4px auto;
            background-color: #202020;
            transition: .3s;
        }
        ul {
            list-style-type: none;
            li {
                margin: 0px 50px 40px 0px;
                background-color: #fff;
                border-radius: 0px 50px 50px 0px;
                #html {
                    background-color: #d79b39;
                    box-shadow: 0px 0px 30px 1px #d79b39;
                    height: 25px;
                    width: 100%;
                    animation-name: html;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                        font-family: "Ysabeau Office";
                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                        font-family: "Ysabeau Office";

                    }
                }
                #css {
                    background-color: #1387f3;
                    height: 25px;
                    width: 70%;
                    box-shadow: 0px 0px 30px 1px #1387f3;
                    animation-name: css;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        font-family: "Ysabeau Office";
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #sass {
                    background-color: #f313ec;
                    height: 25px;
                    width: 70%;
                    animation-name: css;
                    box-shadow: 0px 0px 30px 1px #f313ec;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        font-family: "Ysabeau Office";
                        margin: -3px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #mysql {
                    background-color: #f39d13;
                    height: 25px;
                    width: 50%;
                    box-shadow: 0px 0px 30px 1px #f39d13;
                    animation-name: mysql;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-family: "Ysabeau Office";
                        font-size: 15px;
                        color: white;
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #java {
                    background-color: #f39d13;
                    height: 25px;
                    width: 60%;
                    box-shadow: 0px 0px 30px 1px #f39d13;
                    animation-duration: .6s;
                    animation-name: java;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-size: 20px;
                        color: white;
                        margin: -3px 20px;
                        font-weight: 500;
                        font-family: "Ysabeau Office";
                        position: relative;
                    }
                }
                #kotlin {
                    background-color: #5a3af9;
                    height: 25px;
                    width: 37%;
    
                    box-shadow: 0px 0px 30px 1px #5a3af9;
                    animation-name: js;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                                                font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-size: 15px;
                        font-family: "Ysabeau Office";
                        color: white;
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
                #js {
                    background-color: #f9b03a;
                    height: 25px;
                    width: 37%;
                    box-shadow: 0px 0px 30px 1px #f9b03a;
                    animation-name: js;
                    animation-duration: .6s;
                    display: flex;
                    border-radius: 0px 50px 50px 0px;
                    p {
                        color: white;
                        margin: 1px -10px;
                        position: relative;
                        font-family: "Ysabeau Office";
    
                    }
                    h1 {
                        font-size: 15px;
                        color: white;
                        font-family: "Ysabeau Office";
                        margin: 0px 20px;
                        font-weight: 500;
                        position: relative;
                    }
                }
            }
        }
    }
}

.about-footer {
    width: 100%;
    transition: .3s;
    opacity: 1;
    bottom: 0;
    margin: auto;
    display: block;
    font-family: "Ysabeau Office";
    position: absolute;
    height: auto;
    ul {
        width: 1000px;
        padding: 37px;
        float: right;
        list-style-type: none;
        justify-content: space-evenly;
        display: inline-flex;
        transition: .3s;
        margin: auto;
        li {
            a {
                transition: .3s;
                color: #303030;
                text-decoration: none;
            }
            a:hover {
                transition: .3s;
                letter-spacing: 1px;
            }
            #github:hover {
                color: #303030;
            }
            #discord:hover {
                color: #3a5fcc;
            }
            #ig:hover {
                color: #ca3acc;
            }
            #tw:hover {
                color: #729af8;
            }
        }
    }
    p {
        color: #303030;
        float: left;
        padding: 37px;
        left: 10%;
        position: relative;
        display: inline-flex;
        a {
            text-decoration: none;
            color: #5a3af9;
            margin: 0px 5px auto;
        }
    }
}

@media (max-width: 820px) {
    html {
        overflow: hidden;
    }
    .lead-text {
        display: none;
    }
    .career {
        display: none;
    }
    .about-footer {
        margin: auto;
    }
    .about-footer ul {
        width: 100%;
        padding: 10px;
    }
    .about-footer p {
        display: none;
    }
    .nav {
        .name {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .cv {
            display: none;
        }
        ul {
            width: 100%;
            justify-content: space-evenly;
            display: flex;
            margin: auto;
            transform: translate(0%, 0%);
            li {
                margin: auto;
            }
        }

    }
    .about-me {
        margin: 0px auto;
        .tech-stack-text {
            width: 100%;
            font-family: "Archivo Black";
            text-align: center;
            font-size: 30px;
            visibility: visible;
            margin: 100px auto;
        }
        h1 {
            text-align: center;
            font-size: 30px;
            width: 100%;
        }
        p {
            font-size: 16px;
            width: 100%;
            text-align: center;
        }
    }
    .about-me .tech-stack {
        margin: 120px auto;
        height: 100%;
        visibility: visible;
        transform: rotateZ(-90deg);
        .line {
            height: 300px;
            margin: -6px auto;
        }
        ul li #kotlin {
            display: none;
        }
        ul li #js {
            display: none;
        }
    }
}

@media (max-width: 912px) {
    .about-me {
        #tech_stack_desc {
            display: none;
            margin: auto;
        }
    }
    .career {
        display: none;
    }
    .about-footer {
        margin: auto;
    }
    .about-footer ul {
        width: 100%;
        padding: 10px;
    }
    .about-footer p {
        display: none;
    }
    .lead-text {
        display: none;
    }
    .nav {
        .name {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .cv {
            display: none;
        }
        ul {
            width: 100%;
            justify-content: space-evenly;
            display: flex;
            margin: auto;
            transform: translate(0%, 0%);
            li {
                margin: auto;
            }
        }
    }
    .about-me {
        margin: -20px auto;
        h1 {
            text-align: center;
            font-size: 30px;
            width: 100%;
        }
        p {
            text-align: center;
            font-size: 16px;
            width: 100%;
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    .about-me {
        .tech-stack-text {
            width: 100%;
            font-family: "Archivo Black";
            text-align: center;
            font-size: 30px;
            visibility: visible;
            margin: 20px 0px -100px 0px;
        }
        #tech_stack_desc {
            display: none;
            margin: auto;
        }
    }
    
}

@media (max-width: 540px) {
    .about-me {
        #tech_stack_desc {
            display: none;
            margin: auto;
        }
        .tech-stack-text {
            visibility: hidden;
        }
        .tech-stack {
            visibility: hidden;
        }
    }
}

@media (max-width: 280px) {
    .nav {
        .name {
            font-size: 20px;
        }
    }
    .about-me {
        margin: auto;
        #about_one {
            visibility: hidden;
        }
        #about_one {
            visibility: visible;
            width: 100%;
            font-size: 15px;
        }
        h1 {
            text-align: center;
            font-size: 20px;
            width: 100%;
        }
        p {
            font-size: 15px;
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 414px) {
    html {
        overflow: hidden;
    }
    .lead-text {
        display: none;
    }
    .career {
        display: none;
    }
    .about-footer {
        margin: auto;
    }
    .about-footer ul {
        width: 100%;
        padding: 10px;
    }
    .about-footer p {
        display: none;
    }
    .nav {
        .name {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .cv {
            display: none;
        }
        ul {
            width: 100%;
            justify-content: space-evenly;
            display: flex;
            margin: auto;
            transform: translate(0%, 0%);
            li {
                margin: auto;
            }
        }
    }
    .about-me {
        margin: -20px auto;
        h1 {
            text-align: center;
            font-size: 30px;
            width: 100%;
        }
        p {
            text-align: center;
            font-size: 16px;
            width: 100%;
            text-align: left;
        }
    }
    .about-me .tech-stack {
        display: none;
    }
}

@media (max-width: 375px) {
    #about_two {
        visibility: hidden;
    }
    .about-me {
        margin: -100px auto;
        h1 {
            text-align: center;
            font-size: 20px;
            width: 100%;
        }
        p {
            text-align: center;
            font-size: 15px;
            width: 100%;
            text-align: left;
        }
    }
}

@media (max-width: 1024px) {
    #tech_stack_desc {
        visibility: hidden;
    }
}

@media (max-width: 1280px) {
    html {
        overflow: hidden;
    }
    .lead-text {
        display: none;
    }
    .career {
        display: none;
    }
    .about-footer {
        margin: auto;
    }
    .about-footer ul {
        width: 100%;
        padding: 10px;
    }
    .about-footer p {
        display: none;
    }
    .nav {
        .name {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .cv {
            display: none;
        }
        ul {
            width: 100%;
            justify-content: space-evenly;
            display: flex;
            margin: auto;
            transform: translate(0%, 0%);
            li {
                margin: auto;
            }
        }
    }
    .about-me {
        margin: -20px auto;
        h1 {
            text-align: center;
            font-size: 30px;
            width: 100%;
        }
        p {
            text-align: center;
            font-size: 16px;
            width: 100%;
            text-align: left;
        }
    }
    .about-me .tech-stack {
        display: none;
    }
}

@media (max-width:1680px) {
    .about-me {
        picture {
            visibility: hidden;
        }
    }
}

@media (max-height: 660px) {
    .about-footer {
        opacity: 0;
        transition: .3s;
    }
    .about-me {
        transition: .3s;
        margin: auto;
        text-align: center;
        width: 100%;
        h1 {
            width: auto;
        }
        p {
            width: auto;
        }
    }
}
